@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Source+Sans+3&display=swap');

/* GLOBAL */

:root {
  --font-body: "Source Sans 3", Helvetica, sans-serif;
  --font-headline: Aboreto, "Lilita One", sans-serif;
  /* colors */
  --primary-color: #171D1C;
  --secondary-color: #5863F8;
  --accent-1: #16BAC5;
  --accent-2: #e4cdf6da;

  /* sizes */
  --font-base: 20px;
  --smaller-font: 0.6em;
  --small-font: 0.8em;
  --large-font: 1.8em;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********** Body ***************/

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  display: flex;
  justify-content: center;
}

/********** Header ***************/

header {
  display: flex;
  padding: 20px 5px;
  justify-content: space-between;
}

header a {
  color: black;
  text-decoration: none;
}

.siteName {
  font-family: var(--font-headline);
  font-size: 2.8em;
  font-weight: bold;
  padding: 5px 0;
}

/********** Nav ***************/

nav {
  background-color: #1e2021;
  color: #ffffff;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 20px 15px;
  list-style: none;
  display: block;
  justify-content: space-between;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 5px 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: auto;
}

/********** Main ***************/

main {
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  font-size: var(--large-font);
}

h1,
h2 {
  font-family: var(--font-headline);
}

/********** Delorean ***************/

#delorean {
  background-image: url("../images/vehicles/delorean.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 100px;
}

.card {
  font-size: 0.7em;
  background-color: var(--accent-2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 2px 30px;
  padding-bottom: 20px;
  width: fit-content;
}

.card a, .link, table a {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration: none;
}

.card a:hover, .link:hover, table a:hover {
  background-color: var(--accent-1);
}

table a {
  border-radius: 0;
}

img {
  width: 80%;
  height: auto;
  margin: 20px;
}

/********** Upgrades ***************/

#upgrades-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

#upgrades {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 150px);
  gap: 20px;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade-box img {
  padding: 20px 2px;
  width: auto;
  margin: 0;
  height: 100%;
}

.upgrade-box {
  display: flex;
  background-color: var(--accent-2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;
  justify-content: center;
  height: 100%;
}

#inv-display {
  grid-column: 1/3;
}

form {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  background-color: var(--accent-2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: var(--secondary-color) 1px solid;
  width: 100%;
  padding: 20px;
}

.second-form {
  margin-top: 20px;
}


.form-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5px 0;
}

#password-button {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  width: 7em;
  text-align: center;
}

.input-data:required:invalid {
  border: 2px solid red;
}

.input-data:required:valid {
  border: 2px solid green;
}

#passwordRequirements {
  font-weight: bold;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  background-color: rgba(225, 225, 225, 0.81);
  border-radius: 5px;
}

.view {
  grid-row: 2/3;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
}

input:disabled {
  background-color: lightgray;
  color: gray;
}

input:disabled:hover {
  background-color: lightgray;
  color: gray;
}

@media only screen and (min-width: 60em) {
  .second-form{
    margin-top: 0;
    grid-row: 3/4;
  }

  header, nav, footer {
    width: 90%;
    margin: 0 auto;
  }

  nav ul {
    padding: 20px 30px;
  }

  body {
    position: relative;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/site/small_check.jpg");
    z-index: -2;
  }

  body::after {
    content: "";
    position: absolute;
    top: 0.4%;
    left: 2%;
    bottom: 0.4%;
    right: 2%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    border-radius: 5px;
    border: var(--accent-1) 5px solid;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 850px;
    max-width: 100%;
  }

  .upgrade-box img {
    padding: 20px 30px;
  }

  #delorean-section {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
  }

  #upgrades-section {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #reviews-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #inv-display {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  #details-img {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }

  #details-info {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #details-list {
    list-style-type: none;
  }

  #details-list li {
    background-color: white;
    padding: 15px;
  }

  #details-list li:nth-child(odd) {
    background-color: rgb(231, 231, 231);
  }
}

@media only screen and (min-width: 70em) {
  header, nav, footer {
    width: 70%;
  }
  body::after {
    left: 10%;
    right: 10%;
  }
}