<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<div class="view">
    <a class="link" href="/inv/add-classification">Add Classification</a>
    <a class="link" href="/inv/add-inventory">Add Inventory</a>
</div>