<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<form id="login-form" method="post" action="/login">
  <label for="email">Email:</label>
  <input id="email" type="email" name="email" />
  <label for="password">Password:</label>
  <input id="password" type="password" name="password" />

  <input id="login" type="submit" value="Log In" />

  <p>No account? <a href="/signup">Sign-up</a></p>
</form>
